@page
@model GerenciadorUsuarios.Pages.CreateModel
@{
}
<!--Formulário para cadastrar novo usuário-->
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Cadastro de Usuário</h2>
            <hr />
        </div>
        <div class="mb-3">
            Nome:
            <input type="text" id="txtNome" nome="nome" />
        </div>
        <div class="mb-3">
            Sobrenome:
            <input type="text" id="txtSobrenome" sobrenome="sobrenome" />
        </div>
        <div class="mb-3">
            Email:
            <input type="email" id="txtEmail" email="email" />
        </div>
        <div class="mb-3">
            Data Nascimento:
            <input type="date" id="txtDatanascimento" dataNascimento="dataNascimento" />
        </div>
        <div class="mb-3">
            Escolaridade:
            <select name="escolaridade" id="txtEscolaridade">
                <option value="infantil">Infantil</option>
                <option value="fundamental">Fundamental</option>
                <option value="medio">Médio</option>
                <option value="superior">Superior</option>

            </select>
            <br />
            <br />
            <br />
            <br />
            <button type="submit" class="btn btn-primary" id="btncadastro" style="width:150px;">Cadastrar</button>
        </div>
    </div>
</form>
